.ui-tabs {

  &-nav {
    display: flex;
    align-items: flex-end;
    position: relative;
    border-bottom: #ccd0d4 solid 1px;
    z-index: 2;
    margin-bottom: -1px;
  }

  &-tab {
    display: block;
    margin: 0 0.5em 0 0;
    padding: 0;
  }

  &-anchor {
    padding: 5px 10px 6px;
    display: block;
    color: #000;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    border: #ccd0d4 solid 1px;
    text-decoration: none;
    background: #f1f1f1;
    transition: none;
    margin-bottom: -1px;
    position: relative;
    z-index: 1;

    &:focus {
      color: #000;
      box-shadow: none;
      outline: none;
    }
  }

  &-active {
    a {
      background-color: #fff;
      border-bottom: 0 none;
    }
  }

  &-panel {
    border: #ccd0d4 solid 1px;
    border-top: 0;
    background-color: #fff;
    padding: 15px;
  }
}

.form {
  &_section {
    margin: 20px 0;
    &__title {
      margin-bottom: 16px;
    }
  }
  &_area {
    display: grid;
    gap: 20px;
    @media (min-width: 767px) {
      grid-template-columns: repeat(2,1fr);
    }
  }
  &_field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &__wrapper {
      display: grid;
      gap: 20px;
      @media (min-width: 767px) {
        grid-template-columns: repeat(2,1fr);
      }
    }

    &__wrapper,
    &--full {
      @media (min-width: 767px) {
        grid-column-start: 1;
        grid-column-end: 3;
      }
    }
    &--half {

    }

    &__desc {
      font-size: 12px;
      color: #D9D9D9;
      margin-top: 6px;
    }

    label {
      display: inline-flex;
      align-items: center;
      margin-bottom: 8px;
    }

    input[type="text"] {
      width: 100%;
    }

    input[type="text"],
    input[type="number"],
    textarea {
      border: 1px solid #D9D9D9;
      border-radius: 8px;
      background-color: #fff;
      color: #000;
      font-size: 14px;
      font-weight: 500;
      height: 40px;
      line-height: 20px;
      padding: 10px 16px;
      transition: all .3s;

      &:hover,
      &:focus {
        border-color: #000;
      }

      &:focus {
        box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);
      }
    }
    textarea {
      min-width: 100%;
      max-width: 100%;
      min-height: 200px;

      // For Google Chrome
      &::-webkit-scrollbar {
        width: 3px;
        height: 3px;
      }

      &::-webkit-scrollbar-thumb {
        background: #D9D9D9;
      }

      &::-webkit-scrollbar-track {
        background: transparent;
      }

      // For Internet Explorer
      & {
        scrollbar-face-color: #D9D9D9;
        scrollbar-track-color: transparent;
      }
    }
  }
}

.switcher {
  &-select {
    //display: flex;
    //flex-direction: column;

    &__field {
      display: none;
    }
  }
}

.tooltip {
  display: flex;
  margin-left: 8px;
}

.btn {
  display: inline-block;
  width: 100%;
  padding: 10px 20px;
  //font-family: $font;
  //background: $color-main;
  color: #fff;
  font-weight: 600;
  user-select: none;
  text-align: center;
  transition: all .3s;
  border-radius: 24px;
  cursor: pointer;

  @media (min-width: 767px) {
    width: fit-content;
    min-width: 160px;
    padding: 10px 25px;
  }

  @media (min-width: 767px) {
    padding: 10px 40px;
  }

  &--border-bottom {
    border-radius: 6px;
    //background: $color-hover;
    //border-bottom: $color-active 3px solid;
    //border-left: $color-active 1px solid;
    //border-right: $color-active 1px solid;
    border-top: 0;

    &:active {
      //background: $color-active;
      //border-color: $color-active;
    }
  }

  &--shadow {
    color: #524f4e;
    background: white;
    border-radius: 45px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);

    &:hover {
      background: #2EE59D;
      box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
      color: white;
      transform: translateY(-7px);
    }
  }
}